.header{
    background-color:#040F0F;
    padding: 20px 10%;
    height: 40px;
    position: fixed;
    width: 80%;
    margin-top: -70px;
    border-bottom: 2px solid #2BA84A ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.txt{
    color: aliceblue;
}
.logo{
    color: #2BA84A;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    text-decoration: none;
    list-style: none;
    padding-left: 13px;
    font-weight: 600;
    text-transform: uppercase;
}